
.header {
    height: 95vh;
    background-image: linear-gradient(
    to right bottom, 
    (rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8))) , 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);

    @include respond(tab-port) {
                clip-path: polygon(0 0, 100% 0%, 100% 72%, 0% 86%);
            }

    &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

&__logo {
         height: 3.5rem;
    
        }
}

.header__text-box {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
}


.section-features {
    padding: 20rem 0;
    //  height: 95vh;
    background-image: linear-gradient(
    to right bottom, 
    (rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8))) , 
    url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: -10rem;

    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }

    @include respond (tab-port) {
        padding: 10rem 0;
        margin-top: 0rem;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}


.section-book {
    padding: 15rem 0;
    background-image:  linear-gradient(
    to right bottom, 
    (rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)));

    @include respond (tab-port) {
        padding:  7rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                    rgba($color-white, .9), 0%,
                    rgba($color-white, .9), 50%,
                    transparent 50%),
                    url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    // height: 50rem;

    @include respond (tab-land) {
                    background-image: linear-gradient(105deg, 
                    rgba($color-white, .9), 0%,
                    rgba($color-white, .9), 70%,
                    transparent 50%),
                    url(../img/nat-10.jpg);
                    box-shadow: 0 1.5rem 3rem rgba($color-black, .1);    
            }
             @include respond (tab-port) {
                    background-image: linear-gradient(to right, 
                    rgba($color-white, .9), 0%,
                    rgba($color-white, .9), 100%,
                    transparent 45%),
                    url(../img/nat-10.jpg);
                    box-shadow: 0 1.5rem 3rem rgba($color-black, .1);    
            }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond (tab-land) {

             width: 80%;

        }
        @include respond (tab-port) {

             width:100%;            

        }
    }


            

             
}